body {
  font-size: 18px;
  font-family: 'Akaya Telivigala', cursive;
  color: #000;
  font-weight: 400;

  margin: 0;
  padding: 0;
}
body.block {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}




/* HIDE_BACKGROUND */
.hide_background.active {
  display: block;
}
.hide_background {
  display: none;

  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* INTRO */
.intro {
  width: 100%;
  height: 100vh;

  position: relative;

  background: url(../img/back/1.jpeg) center no-repeat;
  background-size: cover;
}
.intro:after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #0000004d;
}




/* HEADER */
.header.hide {
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}
.header {
  width: 80%;

  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 15px;
  margin: 0 auto;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

.header.hide
.logo {
  color: transparent;
}
.logo {
  color: #fff;
}

.burger {
  width: 30px;
  height: 30px;

  position: relative;
  z-index: 11;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.burger.active
.burger_items {
  background: none;
}
.burger_items {
  width: 20px;
  height: 2px;

  position: relative;

  background-color: #fff;
}

.burger_items:before,
.burger_items:after {
  width: 100%;
  height: 2px;

  position: absolute;
  content: '';
  transition: 0.1s ease;

  background-color: #fff;
}

.burger.active
.burger_items:before {
  top: 0;
  transform: rotate(45deg);
  box-shadow: 0 0 2px #fff;
}
.burger_items:before {
  top: -7px;
}

.burger.active
.burger_items:after {
  top: 0;
  transform: rotate(-45deg);
  box-shadow: 0 0 2px #fff;
}
.burger_items:after {
  top: 7px;
}

.nav.active {
  opacity: 1;
  pointer-events: auto;
}
.nav {
  width: 100%;
  height: 100vh;

  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.1s ease;

  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 130px;
}


.nav_links.active {
  color: #e0e033;
}
.nav_links {
  width: 100%;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0 10px 40px;
}
.nav_links:hover {
  color: #e0e033;
}
